.vanish {
    animation-name: vanish;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

 @keyframes vanish{
    1%{
        transform: translateX(2%);
    }
    2%{
        transform: translateX(-2%);
    }
    3%{
        transform: translateX(2%);
    }
    4%{
        transform: translateX(-2%);
    }
    5%{
        transform: translateX(0);
    }
    80%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
 }
